body { width:100vw;

     height: 100vh;
max-width: 800px;
     
     margin: auto; 
     font-family:Atkinson Hyperlegible; 
     line-height: 1.5; 
     color: white;
  background-image: url(img/capa.jpg); 
background-size: cover; }


main {background:#000000d4 ;

  padding: 5px 40px;
  margin-top: 20px;
  border-radius: 58px;}

   
  .logo, .titulo { text-align: center;}

  .lugares{ text-align: center; margin: 30px 0;  width: 100%;}

  .lugares table { background-color: #005aff2e; border-radius: 10px;
  padding: 10px; margin: 0 auto;   }
    